<?xml version="1.0" encoding="UTF-8" ?>    <widget xmlns   = "http://www.w3.org/ns/widgets"        xmlns:gap   = "http://phonegap.com/ns/1.0"        id          = "pl.curiosum.lttrs"        versionCode = "10"         version     = "1.0.0" >    <!-- versionCode is optional and Android only -->	<gap:platform name="android" />	<preference name="fullscreen" value="true" />	<preference name="orientation" value="landscape" />	<icon src="icon.png" />    <name>Literki</name>    <description>        Układanie mówiących literek     </description><preference name="permissions" value="none"/>		    <author href="https://curiosum.pl" email="lech@curiosum.pl">        Lech Siedelnik    </author></widget>